<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092766149713-uftkjd7s06nfk7ahuir0oj1d3fn6sbk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092766149713-uftkjd7s06nfk7ahuir0oj1d3fn6sbk4</string>
	<key>API_KEY</key>
	<string>AIzaSyA5AdT_FijO5GP0EdG-5wZWbcDId_Yk01U</string>
	<key>GCM_SENDER_ID</key>
	<string>1092766149713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.auderenow.fluathome-au</string>
	<key>PROJECT_ID</key>
	<string>flu-at-home-aus-production</string>
	<key>STORAGE_BUCKET</key>
	<string>flu-at-home-aus-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092766149713:ios:38f6b7b7e8c08fea</string>
	<key>DATABASE_URL</key>
	<string>https://flu-at-home-aus-production.firebaseio.com</string>
</dict>
</plist>
