<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218895043187-gbuqphcjhv55og70ll75rvc0lhg6v5d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218895043187-gbuqphcjhv55og70ll75rvc0lhg6v5d5</string>
	<key>API_KEY</key>
	<string>AIzaSyCW3v5Pb_K0CqlLHW1otTwm1aHAeE0FGpA</string>
	<key>GCM_SENDER_ID</key>
	<string>218895043187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.auderenow.fluathome-au</string>
	<key>PROJECT_ID</key>
	<string>flu-at-home-aus-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>flu-at-home-aus-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218895043187:ios:dd3acba514db24dd</string>
	<key>DATABASE_URL</key>
	<string>https://flu-at-home-aus-staging.firebaseio.com</string>
</dict>
</plist>