[Unit]
Description=gunicorn daemon for AudereWeb api
After=network.target

[Service]
PIDFile=/run/gunicorn/AudereWeb.pid
User=api
Group=api
RuntimeDirectory=gunicorn
WorkingDirectory=/home/api/DjangoWebService/AudereWeb
ExecStart=/usr/bin/env LC_ALL=C.UTF-8 LANG=C.UTF-8 \
  /home/api/.local/bin/pipenv run gunicorn \
    --pid /run/gunicorn/AudereWeb.pid \
    --bind unix:/run/gunicorn/AudereWeb.socket \
    AudereWeb.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
