html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

div.WhoAmI {
  padding-top: 17px;
  margin-right: 40px;
  font-size: 0.9rem;
  line-height: 1.1rem;
  text-align: left;
  visibility: inherit;
  vertical-align: middle;
}

.Logout {
  color: #0088ff;
  cursor: pointer;
}

.ProfileImage {
  padding-right: 10px;
  padding-top: 22px;
  display: inline-block;
  vertical-align: middle;
}

.UserName {
  font-weight: bold;
}
