.PatientDetailHeader {
  background-color: #8cb2de;
  border-width: 0px;
  border-color: black;
  border: solid;
  overflow: hidden;
  height: 5rem;
  line-height: 1rem;
  text-align: center;
}

.PatientDetailHeaderTitle {
  padding-top: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 1.4rem;
  font-style: bold;
  text-align: center;
}

.PatientListLink {
  padding-top: 0rem;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 1rem;
  text-align: left;
}

.PhotoPane th {
  text-align: left;
}

.PhotoPane td {
  vertical-align: top;
}

.PatientInfoPane td {
  padding-right: 16px;
  padding-bottom: 8px;
}

.TriagePane {
  margin-bottom: 1.5rem;
}

.TriagePane h3 {
  margin-bottom: 0.5rem;
}

.TriagePane input[type="button"] {
  height: 1.5rem;
  width: 4rem;
  border-radius: 0.75rem;
  box-shadow: none;
  border-color: black;
  margin-right: 0.5rem;
  outline: none;
}

.TriagePane .evdPressed {
  background-color: #8cb2de;
}

.TriagePane .triageNotes {
  margin: 5px;
  width: 500px;
}

body {
  font-family: "Roboto";
}
