body {
  font-family: "Roboto", sans-serif;
}

.PatientListLegend {
  padding: 0.5rem;
}

.ReactTable .rt-tr:hover .rt-td {
  background: #d3d3d3;
  cursor: pointer;
}

.ReactTable .rt-th {
  font-weight: bold;
}
