.PatientListBody {
  margin-left: 30px;
  margin-right: 30px;
}

.PatientListTitle {
  font-size: 30pt;
  padding: 30px 0px 10px 0px;
  font-family: "Roboto Light", sans-serif;
  color: #989898;
}

.PatientListLegend {
  font-family: "Roboto", sans-serif;
  color: #4d4d4d;
  font-size: 14pt;
}

.PatientTableTitle {
  padding: 40px 0px 20px 0px;
  font-family: "Roboto", sans-serif;
  color: #4d4d4d;
  font-size: 20pt;
}

.PatientTableTitle .viewButton {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PatientTableTitle img {
  margin-right: 6px;
}

.ListViewIcon {
  vertical-align: middle;
  padding-left: 10px;
}

.MapViewIcon {
  vertical-align: middle;
  padding-left: 10px;
}

.ListViewText {
  font-family: "Roboto", sans-serif;
  color: #4d4d4d;
  font-size: 12pt;
}

.MapViewText {
  font-family: "Roboto", sans-serif;
  color: #0088ff;
  font-size: 12pt;
}

.ReactTable .rt-tr:hover .rt-td {
  background: #f2f2f2;
  cursor: pointer;
}

.ReactTable .rt-th {
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  color: #014080;
}

.ReactTable .rt-td {
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  color: #4d4d4d;
}

.ReactTable .-sort-desc::before {
  content: "▼";
  float: right;
  margin: 3px;
  font-weight: bold;
}

.ReactTable .-sort-asc::before {
  content: "▲";
  float: right;
  margin: 1px 3px 5px 3px;
  font-weight: bold;
}
